<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.chris-grieser.alfred-bibtex-citation-picker</string>
	<key>category</key>
	<string>Academic</string>
	<key>connections</key>
	<dict>
		<key>06928646-A3C8-4D15-A526-2D6E9A4233A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D5A206C-3336-4CC3-9B29-712284C032BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>080E42C9-F2F5-422E-84EC-C1509616A51B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>131904BA-B28E-4245-8D68-03AB717DB9D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>122D6EFC-8347-4294-A8D2-606E74EDA9CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0BD2652-1A83-42AC-BCC4-396E1691CA1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C0964D1-AA81-478A-B406-28E96DDD9E82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>986EF1F7-54A1-4C67-A490-4DFCC60FA328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A53A3E8-F0F6-4331-95FE-472A3A007E59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAFFB6EC-4EEC-479B-A7BD-E4560A05B039</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D59F287-3F5D-4A64-9151-E43716142751</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB4D33E2-A031-4542-A640-3B73D66EE39E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C4023B39-2525-4472-9AA8-9A01509C40E1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A824D01B-F6C7-4D3E-8687-1B43D309258F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D72874E-4A27-4A0C-98B3-15EFBEBE1031</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC604ACD-94BE-4F8B-B73C-8475943837C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E233EB1-E0B2-48CC-9E6F-A5CAFDFD26AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06928646-A3C8-4D15-A526-2D6E9A4233A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4771A40C-E741-46C5-93EF-82CEB4BD23D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B928B68D-85BC-410D-9523-0ACEB84AEAEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CD979CC-3ADB-4C54-92FA-F2A9B569E75C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D59F287-3F5D-4A64-9151-E43716142751</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52B9C3DF-F265-4201-9508-55BA584F851F</key>
		<array/>
		<key>5B9676C6-1ED4-4548-835F-8E5B18BB5392</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC77C4D7-6154-4281-B7B5-5E14299C4D30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D5A206C-3336-4CC3-9B29-712284C032BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A53A3E8-F0F6-4331-95FE-472A3A007E59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4F6B18B4-5071-4DD9-8558-A68B97E733FA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B928B68D-85BC-410D-9523-0ACEB84AEAEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6ACECC5E-0168-4F34-87C7-A1C6EFF8FCBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEF73BE0-D215-459C-A69F-A7921ACF45F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B51C1A0-EAD2-457B-A532-6CC16C7F015E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1D3B211-1CE6-4A09-B45E-7C55A61CDC06</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Add another citation</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FE122FB8-705A-4169-9391-1F91038FDFB6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Add another citation</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1C0964D1-AA81-478A-B406-28E96DDD9E82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96FCE9BC-5201-4357-9B63-588F73AEF5F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74F55929-395A-4A89-BCD9-E2BB9E297A1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>986EF1F7-54A1-4C67-A490-4DFCC60FA328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CD979CC-3ADB-4C54-92FA-F2A9B569E75C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8AEF220-7CBC-4D07-BA5F-D28094B3D4B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C64ACAF0-66C8-48A8-A3C4-B55C7E282697</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Add another citation</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B9676C6-1ED4-4548-835F-8E5B18BB5392</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>⌘ ⌥: Add page number &amp; then add another citation</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>986EF1F7-54A1-4C67-A490-4DFCC60FA328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD59F90F-8FD2-486D-A8A8-2FFA47DE45F6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>⌘: Append Page Numbers</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96FCE9BC-5201-4357-9B63-588F73AEF5F3</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>fn: Paste Bibliography</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>30006A6B-EAF9-4531-8694-5E878A0FB80E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⌃: Open URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6ACECC5E-0168-4F34-87C7-A1C6EFF8FCBC</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⇧: Show in BibDesk</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B928B68D-85BC-410D-9523-0ACEB84AEAEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8AEF220-7CBC-4D07-BA5F-D28094B3D4B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAFFB6EC-4EEC-479B-A7BD-E4560A05B039</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B928B68D-85BC-410D-9523-0ACEB84AEAEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C64ACAF0-66C8-48A8-A3C4-B55C7E282697</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F683C78-5D0B-4A39-B3FF-37ABA8DA0D73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB4D33E2-A031-4542-A640-3B73D66EE39E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65CA24BA-2DA6-4DC0-A2BE-3E4E4D5FDD72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1393F83-C584-4BAE-A19E-194D0FA6105D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A53A3E8-F0F6-4331-95FE-472A3A007E59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC77C4D7-6154-4281-B7B5-5E14299C4D30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1D3B211-1CE6-4A09-B45E-7C55A61CDC06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>DD59F90F-8FD2-486D-A8A8-2FFA47DE45F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B51C1A0-EAD2-457B-A532-6CC16C7F015E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1D3B211-1CE6-4A09-B45E-7C55A61CDC06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C64ACAF0-66C8-48A8-A3C4-B55C7E282697</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC604ACD-94BE-4F8B-B73C-8475943837C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52B9C3DF-F265-4201-9508-55BA584F851F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE122FB8-705A-4169-9391-1F91038FDFB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1D3B211-1CE6-4A09-B45E-7C55A61CDC06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Grieser</string>
	<key>description</key>
	<string>Citation Picker for Pandoc Citation Syntax using a BibTex File.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BibTeX Citation Picker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/buffer_writer.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A53A3E8-F0F6-4331-95FE-472A3A007E59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>buffer.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>BAFFB6EC-4EEC-479B-A7BD-E4560A05B039</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>force-reload</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Force Reload Buffer</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1393F83-C584-4BAE-A19E-194D0FA6105D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>citation-picker-loop</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5F683C78-5D0B-4A39-B3FF-37ABA8DA0D73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:pageless_citation}, p. {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E1D3B211-1CE6-4A09-B45E-7C55A61CDC06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter Page Number(s)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC77C4D7-6154-4281-B7B5-5E14299C4D30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>pandoc_citation</key>
					<string>{var:pandoc_citation}{query}; </string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C64ACAF0-66C8-48A8-A3C4-B55C7E282697</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>pageless_citation</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5B9676C6-1ED4-4548-835F-8E5B18BB5392</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>#</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3E233EB1-E0B2-48CC-9E6F-A5CAFDFD26AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/buffer_outdated_checker.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>06928646-A3C8-4D15-A526-2D6E9A4233A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>FE122FB8-705A-4169-9391-1F91038FDFB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>buffer up-to-date</string>
						<key>outputlabel</key>
						<string>outdated or n/a</string>
						<key>uid</key>
						<string>4F6B18B4-5071-4DD9-8558-A68B97E733FA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>up-to-date</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5D5A206C-3336-4CC3-9B29-712284C032BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/chrisgrieser/alfred-bibtex-citation-picker/main/info.plist'
readonly workflow_url='chrisgrieser/alfred-bibtex-citation-picker'
readonly download_type='github_release'
readonly frequency_check='1'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65CA24BA-2DA6-4DC0-A2BE-3E4E4D5FDD72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>[{query}]</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CB4D33E2-A031-4542-A640-3B73D66EE39E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>not empty</string>
						<key>uid</key>
						<string>C4023B39-2525-4472-9AA8-9A01509C40E1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>empty</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2D59F287-3F5D-4A64-9151-E43716142751</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:pandoc_citation}{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>986EF1F7-54A1-4C67-A490-4DFCC60FA328</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>
</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4CD979CC-3ADB-4C54-92FA-F2A9B569E75C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ct</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>ObjC.import('stdlib');
const alfred_bar_length_string = $.getenv('alfred_bar_length');
const alfred_bar_length = parseInt(alfred_bar_length_string);
var bibtex_library_path = $.getenv('bibtex_library_path');
const urlIcon = $.getenv('urlIcon');

// resolve ~
app = Application.currentApplication();
app.includeStandardAdditions = true;
const homepath = app.pathTo('home folder');
bibtex_library_path = bibtex_library_path.replace(/^~/, homepath);

//read bib file
//remove unecessary info to increase speed
var input = app.doShellScript('cat "' + bibtex_library_path + '" | grep -vwE "(abstract|annotate|publisher|Bdsk-Url-1|Bdsk-Url-2|date-modified|date-added|volume|keywords|issn|langid|doi|urlyear|isbn|location|pagetotal|series|eprint) ="');

// BibTeX-Decoding
input = input.replace (/{?\\"u}?/g,'ü');
input = input.replace (/{?\\"o}?/g,'ö');
input = input.replace (/{?\\"a}?/g,'ä');
input = input.replace (/{?\\"U}?/g,'Ü');
input = input.replace (/{?\\"O}?/g,'Ö');
input = input.replace (/{?\\"A}?/g,'Ä');
input = input.replace (/(---?|\\textendash{})/g,'—');
input = input.replaceAll ('\\"e','ë');
input = input.replaceAll ('\\ss','ß');
input = input.replaceAll ('\\&amp;','&amp;');
input = input.replaceAll ('``','"');
input = input.replaceAll ('`',"'");
input = input.replaceAll ('{\\~n}','ñ');
input = input.replaceAll ("{\\'a}",'á');
input = input.replaceAll ("{\\'e}",'é');
input = input.replaceAll ("{\\v c}",'č');
input = input.replaceAll ("\\c{c}",'ç');
input = input.replaceAll ("\\o{}",'ø');
input = input.replaceAll ("\\^{\i}",'î');
input = input.replaceAll ('\\"{\i}','ï');
input = input.replaceAll ("{\\'c}",'ć');


var entry = input.split("@");
let entry_array = [];

entry.forEach(element =&gt; {
  let temp = "@" + element;
  let properties = temp.split ("\r");
  let citekey = "";
  let author = "";
  let title = "";
  let year = "";
  let authormatches = "";
  let type = "";
  let editor = "";
  let url = "";
  let collection = "";
  let urlAppendix = "";
  let numberOfEditors = 0;
  let urlExists = false;

  properties.forEach (elem =&gt; {
    if (elem.includes ("@")){
  		citekey = elem.replace (/@.*{(.*),/,"$1");
		type = elem.replace (/@(.*)\{.*/,"$1");
  	};
	if (elem.includes ("author =")){
  		author = elem.replace (/.*{(.*)},?/,"$1");
		author = author.replace (/(, [A-Z]).+?(?= and|$)/gm,""); //remove first names
		author = author.replaceAll (" and "," &amp; ");
		author = author.replace (/[{|}]/g,"");
		authormatches = author;
		author = author.replace (/\&amp;.*\&amp;.*/,"et al."); // insert et al
  	};

	if (elem.includes ("editor =")){
  		editor = elem.replace (/.*{(.*)},?/,"$1");
		editor = editor.replace (/(, [A-Z]).+?(?= and|$)/gm,""); //remove first names
		editor = editor.replaceAll (" and "," &amp; ");
		editor = editor.replace (/[{|}]/g,"");
		authormatches = editor + " " + authormatches;
		numberOfEditors = editor.split("&amp;").length;
		editor = editor.replace (/\&amp;.*\&amp;.*/,"et al."); // insert et al
  	};

	let titlematch = elem.match(/\stitle \=/i);
	if (titlematch != null){
  		title = elem.replace (/.*?{(.*)},?/,"$1");
		title = title.replace (/[{|}]/g,"");
		//shorten, if title too long
		if (title.length &gt; alfred_bar_length){
			title = title.substring(0, alfred_bar_length);
			title = title + "...";
		}

  	};
	if (elem.includes ("year =")){
  		year = elem.replace (/.*= {?(\d{4}).*/,"$1");
  	};

	if (elem.includes ("url =")){
  		url = elem.replace (/.*{(.*)},?/,"$1");
		urlAppendix = "    " + urlIcon;
		urlExists = true;
  	};

  	let collectionmatch = elem.match(/\s(journal|booktitle) \=/i);
	if (collectionmatch != null){
  		collection = elem.replace (/.*{{?(.*?)}.*/,"$1");
		collection = "    In: " + collection;
  	};
  });

  //icon selection
  let type_icon = "";
  if (type == "article") {
	type_icon = "article.png";
  } else if (type == "book") {
    type_icon = "book.png";
  } else if (type == "book_chapter.png") {
    type_icon = "book_chapter.png";
  } else if (type == "inbook") {
    type_icon = "book_chapter.png";
  } else if (type == "incollection") {
    type_icon = "book_chapter.png";
  } else if (type == "misc") {
    type_icon = "manuscript.png";
  } else if (type == "unpublished") {
    type_icon = "manuscript.png";
  } else if (type == "techreport") {
    type_icon = "technical_report.png";
  } else if (type == "inproceedings") {
    type_icon = "conference.png";
  }

  // determines correct editor-abbreviation
  if (numberOfEditors &gt; 1){
    var editorAbbrev = "(Eds.)";
  } else {
    var editorAbbrev = "(Ed.)";
  }

  // displays editor when there are no authors
  var authoreditor = author + " ";
  if ((author == "") &amp;&amp; (editor != "")) {
	authoreditor = editor + " " + editorAbbrev  + " ";
  } else if ((author == "") &amp;&amp; (editor == "")) {
	authoreditor = "";
  }

  entry_array.push ({
    'title': title,
    'autocomplete': authoreditor,
    'subtitle': authoreditor + year + collection + urlAppendix,
	'match': title + " " + authormatches + " " + year + " " + collection,
    'arg': "@" + citekey,
	'icon': {'path': type_icon },
	'uid': citekey,
	"mods": { "ctrl": { "valid": urlExists, "arg": url }},
  })
});

JSON.stringify({ 'items': entry_array });
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/citation_picker.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search BibTeX Library for...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B8AEF220-7CBC-4D07-BA5F-D28094B3D4B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B928B68D-85BC-410D-9523-0ACEB84AEAEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter Page Number(s)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B51C1A0-EAD2-457B-A532-6CC16C7F015E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>citation-picker-loop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>4771A40C-E741-46C5-93EF-82CEB4BD23D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:pageless_citation}, p. {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1C0964D1-AA81-478A-B406-28E96DDD9E82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>pageless_citation</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DD59F90F-8FD2-486D-A8A8-2FFA47DE45F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>A824D01B-F6C7-4D3E-8687-1B43D309258F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

citekey="{query}"
bibfile=~`echo -n $bibtex_library_path | sed -e "s/~//"`
csl=~`echo -n $csl_file | sed -e "s/~//"`
dummyBib="---\nnocite: |\n  "$citekey"\n---\n::: {#refs}\n:::"

echo -n $dummyBib | pandoc --citeproc --read=markdown --write=plain --csl $csl --bibliography $bibfile | tr "\n" " "</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/generate_temporary_bib.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96FCE9BC-5201-4357-9B63-588F73AEF5F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>74F55929-395A-4A89-BCD9-E2BB9E297A1E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>080E42C9-F2F5-422E-84EC-C1509616A51B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>docx {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>131904BA-B28E-4245-8D68-03AB717DB9D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>30006A6B-EAF9-4531-8694-5E878A0FB80E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>✅ Downloaded</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>52B9C3DF-F265-4201-9508-55BA584F851F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>CSL_DIR=~/.pandoc/csl/

mkdir -p "$CSL_DIR"
cd "$CSL_DIR"

curl -sO "$*"

# for notification
echo "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/csl_install.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC604ACD-94BE-4F8B-B73C-8475943837C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>csl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/search-install-csl.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search &amp; Install CSL files</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2D72874E-4A27-4A0C-98B3-15EFBEBE1031</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-bdsk://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EEF73BE0-D215-459C-A69F-A7921ACF45F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>@?(.*)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6ACECC5E-0168-4F34-87C7-A1C6EFF8FCBC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pandoc</string>
				<key>subtext</key>
				<string>Cheat Sheet</string>
				<key>text</key>
				<string>Pandoc Citation Syntax</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>122D6EFC-8347-4294-A8D2-606E74EDA9CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>qlmanage -p "assets/Pandoc Citation Syntax.pdf"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0BD2652-1A83-42AC-BCC4-396E1691CA1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/chrisgrieser/alfred-bibtex-citation-picker</string>
	<key>uidata</key>
	<dict>
		<key>06928646-A3C8-4D15-A526-2D6E9A4233A6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>check whether buffer is outdated</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>080E42C9-F2F5-422E-84EC-C1509616A51B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>DOUBLE CLICK THIS

to set a hotkey for Pandoc Conversion</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>122D6EFC-8347-4294-A8D2-606E74EDA9CA</key>
		<dict>
			<key>note</key>
			<string>cheatsheet</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>131904BA-B28E-4245-8D68-03AB717DB9D0</key>
		<dict>
			<key>note</key>
			<string>run "docx" alias</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>1C0964D1-AA81-478A-B406-28E96DDD9E82</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1480</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>2A53A3E8-F0F6-4331-95FE-472A3A007E59</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>write buffer</string>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>2D59F287-3F5D-4A64-9151-E43716142751</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1735</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>2D72874E-4A27-4A0C-98B3-15EFBEBE1031</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>30006A6B-EAF9-4531-8694-5E878A0FB80E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>open URL</string>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>3E233EB1-E0B2-48CC-9E6F-A5CAFDFD26AD</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>DOUBLE CLICK THIS

to set a hotkey for the citaiton picker.</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>4771A40C-E741-46C5-93EF-82CEB4BD23D8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>4CD979CC-3ADB-4C54-92FA-F2A9B569E75C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>remove \n</string>
			<key>xpos</key>
			<integer>1670</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>52B9C3DF-F265-4201-9508-55BA584F851F</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>5B9676C6-1ED4-4548-835F-8E5B18BB5392</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>5D5A206C-3336-4CC3-9B29-712284C032BE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>5F683C78-5D0B-4A39-B3FF-37ABA8DA0D73</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1660</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>65CA24BA-2DA6-4DC0-A2BE-3E4E4D5FDD72</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater (automatic update function)</string>
			<key>xpos</key>
			<integer>2030</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>6ACECC5E-0168-4F34-87C7-A1C6EFF8FCBC</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>citekey w/o @</string>
			<key>xpos</key>
			<integer>1005</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>74F55929-395A-4A89-BCD9-E2BB9E297A1E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Paste</string>
			<key>xpos</key>
			<integer>1240</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>8B51C1A0-EAD2-457B-A532-6CC16C7F015E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1180</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>96FCE9BC-5201-4357-9B63-588F73AEF5F3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>paste single bibliography</string>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>986EF1F7-54A1-4C67-A490-4DFCC60FA328</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1560</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>A824D01B-F6C7-4D3E-8687-1B43D309258F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Error Sound</string>
			<key>xpos</key>
			<integer>1860</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>B8AEF220-7CBC-4D07-BA5F-D28094B3D4B4</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>display Alfred Citation Picker</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>B928B68D-85BC-410D-9523-0ACEB84AEAEF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>BAFFB6EC-4EEC-479B-A7BD-E4560A05B039</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>C64ACAF0-66C8-48A8-A3C4-B55C7E282697</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1575</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>CB4D33E2-A031-4542-A640-3B73D66EE39E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Paste</string>
			<key>xpos</key>
			<integer>1860</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>D0BD2652-1A83-42AC-BCC4-396E1691CA1B</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>D1393F83-C584-4BAE-A19E-194D0FA6105D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>DC77C4D7-6154-4281-B7B5-5E14299C4D30</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1125</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>DD59F90F-8FD2-486D-A8A8-2FFA47DE45F6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1115</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>E1D3B211-1CE6-4A09-B45E-7C55A61CDC06</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1450</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>EEF73BE0-D215-459C-A69F-A7921ACF45F6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>FC604ACD-94BE-4F8B-B73C-8475943837C7</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>FE122FB8-705A-4169-9391-1F91038FDFB6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>1485</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>IconURL</key>
		<string>🌐</string>
		<key>alfred_bar_length</key>
		<string>56</string>
		<key>bibtex_library_path</key>
		<string>~/.pandoc/main-bibliography.bib</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>bibtex_library_path</string>
	</array>
	<key>version</key>
	<string>6.4.0</string>
	<key>webaddress</key>
	<string>https://github.com/chrisgrieser/alfred-bibtex-citation-picker</string>
</dict>
</plist>
