<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
		<string>DOI/ISBN 2 BibTeX</string>
	<key>Extension Identifier</key>
		<string>de.chris-grieser.doi-2-bibtex</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>Alfred-add-to-bibtex.applescript</string>
			<key>Long Running</key>
			<true/>
			<key>Image File</key>
			<string>doi.png</string>
			<key>Title</key>
			<string>DOI 2 BibTeX</string>
			<key>Regular Expression</key>
			<string>^.*\/?(10\.\S+)\/?$</string>
		</dict>
		<dict>
			<key>AppleScript File</key>
			<string>Alfred-add-to-bibtex.applescript</string>
			<key>Long Running</key>
			<true/>
			<key>Image File</key>
			<string>book.png</string>
			<key>Title</key>
			<string>ISBN 2 BibTeX</string>
			<key>Regular Expression</key>
			<string>[\d-]{9,}</string>
		</dict>
	</array>
</dict>
</plist>
